.container{
    background-color: #fff;
    max-width: 500px;
    max-height: 700px;
    padding: 50px 20px;
    width: 100%;
    width: 400px;
    margin-top: 100px;
}
form{
    display: flex;
    flex-direction: column;
    width:90%;
    margin:0 auto;
}
form input,form label{
  font-size:16px;
  padding: 5px 5px;
}
form input{
    margin-bottom: 20px;
    border: 1px solid #000;
}
form input:hover{
    border-color: #001d3d;
    border-radius: 2px;
}

.btn:hover{
    background-color: #023047;
    cursor: pointer;
}
.btn-container{
    margin: 10px auto;
}

input[type="submit"]{
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="button"]{
    width: 100%;
    background-color: #40453e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #45a049;  
}
input[type="button"]:hover{
    background-color: #2b2f2a;  
}


